<div class="container-fluid pb-5 pt-5">
    <div class="row">
        <div class="col-md-12 text-center color titleColor mt-3 ml-3">
            <img src="{{ asset('images/rosace-title.png') }}" alt="" class="mb-2">
            <h4 class="titlecolor"><b>QUELQUES</b> PROJET...</h4>
            <img src="{{ asset('images/trait.png') }}" alt="" style="width:14%" class="mb-2">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center mb-5">
            <ul class="navTabs list_js">
                <li class="active"><a href="#tab1">Dev</a></li>
                <li><a href="#tab2">Design</a></li>
                <li><a href="#tab3">Print</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="tab1" class="box devBox active">
        <div class="row justify-content-center flex-wrap">
            {% for devPost in devPosts %}
            <a href="{{ path('post_show', {'id': devPost.id}) }}">
                <div class='newsCard news-Slide-up m-1'>
                        <img src="{{ devPost.projectImage }}"/>
                    <div class='newsCaption'>
                        <div class='newsCaption-title'>project</div>
                        <span class="projectTitle">{{ devPost.title }}</span>
                        <div class="dottedLine mb-3 mt-1"></div>
                        <span class="techTxt">Description</span>
                        <p>{{devPost.projectDescription|slice(0, 180)}}...</p>
                        <div class="mb-5 mt-1"></div>
                        <div class="newsCaption-content col-12">
                            <span class="techTxt">Technologies</span>
                            <p class='mt-1'>
                                {% for tag in devPost.tags %}
                                <span class="tagsCards">{{tag.name}}</span>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %} 
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="tab2" class="box designBox hide">
        <div class="row justify-content-center flex-wrap"> 
            {% for designPost in designPosts %}
            <a href="{{ path('post_show', {'id': designPost.id}) }}">
                <div class='newsCard news-Slide-up m-1'>
                    <img src="{{ designPost.projectImage }}" />
                    <div class='newsCaption'>
                        <div class='newsCaption-title'>project</div>
                        <span class="projectTitle">{{ designPost.title }}</span>
                        <div class="dottedLine mb-3 mt-1"></div>
                        <span class="techTxt">Description</span>
                        <p>{{designPost.projectDescription|slice(0, 120)}}...</p>
                        <div class="mb-5 mt-1"></div>
                        <div class="newsCaption-content col-12">
                            <span class="techTxt">Technologies</span>
                            <p class='mt-1'>
                                {% for tag in designPost.tags %}
                                <span class="tagsCards">{{tag.name}}</span>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}        
        </div>
    </div>
    <div id="tab3" class="box printBox hide">
        <div class="row justify-content-center flex-wrap">
            {% for printPost in printPosts %}
            <a href="{{ path('post_show', {'id': printPost.id}) }}">
                <div class='newsCard news-Slide-up m-1'>
                    <img src="{{ printPost.projectImage }}" />
                    <div class='newsCaption'>
                        <div class='newsCaption-title'>project</div>
                        <span class="projectTitle">{{ printPost.title }}</span>
                        <div class="dottedLine mb-3 mt-1"></div>
                        <span class="techTxt">Description</span>
                        <p>{{printPost.projectDescription|slice(0, 180)}}...</p>
                        <div class="mb-5 mt-1"></div>
                        <div class="newsCaption-content col-12">
                            <span class="techTxt">Technologies</span>
                            <p class='mt-1'>
                                {% for tag in printPost.tags %}
                                <span class="tagsCards">{{tag.name}}</span>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}        
        </div>
    </div>
</div>