{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
{% if app.user %}
{% include 'NavBarSimple.html.twig' %}
<div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mt-5 mb-5">
                <h1 class="titleColor mb-5"> <i class="fas fa-user-shield"></i><br>
                Bienvenue <b>{{ app.user.login }}</b></h1>
                <p>
                <table class="table table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Title</th>
                            <th scope="col">Technos</th>
                            <th scope="col">Project_Image</th>
                            <th scope="col">Description</th>
                            <th scope="col">Categorie</th>
                            <th scope="col">Demo Lien</th>
                            <th scope="col">Github Lien</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr>
                            <th scope="row">{{post.id}}</th>
                            <td>{{post.title}}</td>
                            <td>{{post.technos}}</td>
                            <td>{{post.projectImage}}</td>
                            <td>Vide</td>
                            <td>{{post.categorie}}</td>
                            <td>{{post.lien}}</td>
                            <td>{{post.git}}</td>
                            <td>
                                <a href="{{ path('post_show', {'id': post.id}) }}"><i class="fab fa-readme"></i></a>
                                <a href="{{ path('admin_edit', {'id': post.id}) }}"><i class="far fa-edit"></i></a>
                                <a href="{{ path('admin_delete', {'id': post.id}) }}"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{knp_pagination_render(posts)}}
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 light text-center mt-3 mb-5">
                {{form_start(createPostForm)}}
                    <h3 class="mb-4 titleColor"><b><i class="fas fa-edit"></i> CREER UN POST.</b></h3>
                    <div class="row mb-1">
                        {# {{form_widget(createPostForm)}} #}
                        <div class="col">
                            {{ form_row(createPostForm.title)}}
                        </div>
                        <div class="col-md-12">
                            {{ form_row(createPostForm.technos)}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col">
                            {{ form_row(createPostForm.lien)}}
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col">
                            {{ form_row(createPostForm.git)}}
                        </div>
                    </div>
                {{form_end(createPostForm)}}
            </div>
        </div>
    </div>
{% else %}

{% endif %}
{% endblock %}
