{# ========== BANNER BLOC ============ #}
<div class="container-fluid banner">
    <div class="row text-center">
        <div class="col-sm-5 col-md-5 blockBanner01 pb-3">
            <img src="{{ asset('images/logoround.png') }}" 
            alt="banner" style="width:40%" class="img-responsive img-center">
            <p>DEVELOPPEUR</p>
            <p><span>&#60;?PHP créatif ?&#62;</span></p> 
            <p><span>Remi Larrauri</span><br>
            <span>06.29.61.53.66</span></p>
            <button class="btn btnrounded btn-info mb-5">CV</button><br>
            <div class="row justify-content-center">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <a href="https://www.linkedin.com/in/rl-dev/"><img src="{{ asset('images/logo_linkedin.png') }}" alt="" style="width:23%"></a>        
                    <a href="#ankor_contact"><img src="{{ asset('images/logo_contact.png') }}" alt="" style="width:23%"></a> 
                    <a href="https://github.com/Yirzaraji"><img src="{{ asset('images/logo_git.png') }}" alt="" style="width:23%"></a> 
                </div> 
                <div class="col-md-4">
                </div>       
            </div>
        </div>
        <div class="col-sm-7 col-md-7 bannerLowpolyImg">
            <img src="{{ asset('images/lowpoly_banner.jpg') }}" 
            alt="banner" class="w-100 h-100 img-responsive cover">
        </div>
    </div>
</div>