<div class="container-fluid">
    <div class="row blocContact justify-content-center" id="ankor_contact">
        <div class="col-md-4 text-center color titleColor  mr-5">
        <img src="{{ asset('images/iconrocket.png') }}" 
            alt="banner" class="w-100 img-responsive">
        </div>
        <div class="col-md-4 text-center d-flex align-items-center mt-3 mb-5">
        
            {{form_start(contactForm)}}
                <h3 class="titleFormColor mb-4"><b>CONTACTEZ MOI.</b></h3>
                <div class="row mb-1">
                    {# {{form_widget(contactForm)}} #}
                    <div class="col">
                        {{ form_row(contactForm.name)}}
                    </div>
                    <div class="col">
                        {{ form_row(contactForm.email)}}
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col">
                        {{ form_row(contactForm.subject)}}
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col">
                        {{ form_row(contactForm.message)}}
                    </div>
                </div>
            {{form_end(contactForm)}}
        </div>
    </div>
</div>