<div class="container-fluid mt-5">
    <div class="row blocContact justify-content-center" id="ankor_contact">
        <div class="d-none d-sm-none d-md-none d-xl-block col-xl-3 text-center color titleColor position-relative rocket">
        <img src="{{ asset('images/iconrocket.png') }}" 
            alt="banner" class="position-absolute fixed-bottom img-fluid img-responsive img-responsive-custom">
        </div>
        <div class="col-9 col-sm-5 col-xl-3 text-center d-flex align-items-center mt-3">
            {{form_start(contactForm)}}
                <h3 class="titleFormColor mb-4"><b>CONTACTEZ MOI.</b></h3>
                <div class="row mb-1">
                    {# {{form_widget(contactForm)}} #}
                    <div class="col">
                        {{ form_row(contactForm.name)}}
                    </div>
                    <div class="col">
                        {{ form_row(contactForm.email)}}
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col">
                        {{ form_row(contactForm.subject)}}
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col">
                        {{ form_row(contactForm.message)}}
                    </div>
                </div>
                <div class="h-captcha" data-sitekey="f982d320-0643-446f-9f8e-64c54a3a3323">e</div>
            {{form_end(contactForm)}}
        </div>
    </div>
</div>