{% extends 'base.html.twig' %}


{% block body %}

{% include 'NavBar.html.twig' %}
{% include 'banner.html.twig' %}


{# {{dump(app)}}    #}
<div class="container-fluid blockiDO pb-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center color titleColor mt-3 mb-5">
            <img src="{{ asset('images/rosace-title.png') }}" alt="" class="mb-2">
            <h4><b>CE QUE JE</b> SAIS FAIRE...</h4>
        </div>
    </div>
    <div class="row text-center justify-content-center">
        <div class="col-sm-4 col-md-3 tripleCard">
            <img src="{{ asset('images/logo_print.png') }}" alt="" class="mb-4"></br>
            <span class="triplecard_txt">PRINT</span></br>
            <p class="mt-1">
                Que ce soit des flyers, des logos, des brochures,</br> 
                Je peux mener a bien votre commmunication imprimée
            </p>
        </div>
        <div class="col-sm-4 col-md-3 tripleCard">
            <img src="{{ asset('images/logo_dev.png') }}" alt="" class="mb-4"></br>
            <span class="triplecard_txt">DEV</span></br>
            <p class="mt-1">
                Un projet web, une fonctionnalité a developper,</br> 
                J'ai de large competence dans le domaine du web
            </p>
        </div>
        <div class="col-sm-4 col-md-3 tripleCard">
        <img src="{{ asset('images/logo_design.png') }}" alt="" class="mb-4"></br>
            <span class="triplecard_txt">DESIGN</span></br>
            <p class="mt-1">
                Design numerique, communication visuelle</br> 
                Je suis en capacité de creer des mockup pour vos projets web
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 aboutBlock">
            <div class="row pb-5 pt-5">
                <div class="col-md-5 d-none d-md-flex justify-content-end">
                    <img src="{{ asset('images/avatar1_small.jpg') }}" class="img-fluid avatar"  alt="">
                </div>
                <div class="col-md-5 line_left ml-2 pt-4 about-title" id="ankor_aboutMe" style="text-justify: auto;">
                    <b>ABOUT ME...</b><br>
                    <br>
                    <p>A la recherche d’un poste de Développeur Web dans le cadre d’une alternance Bac +3 
                    Concepteur développeur d’application
                    Actuellement en Freelance dans deux activités différentes je propose mes services 
                    dans le design graphique & le Développement web.
                    J’ai une appétence pour les nouvelles technologies, je suis très curieux et 
                    j’ai une grande soif d’apprendre.</p>
                </div>      
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pb-5 pt-5">
    <div class="row">
        <div class="col-md-12 text-center color titleColor mt-3 ml-3">
            <img src="{{ asset('images/rosace-title.png') }}" alt="" class="mb-2">
            <h4 class="titlecolor"><b>QUELQUES</b> PROJET...</h4>
            <img src="{{ asset('images/trait.png') }}" alt="" style="width:14%" class="mb-2">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center mb-5">
            <ul class="navTabs list_js">
                <li class="active"><a href="#tab1">Dev</a></li>
                <li><a href="#tab2">Design</a></li>
                <li><a href="#tab3">Print</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div id="tab1" class="box devBox active">
        <div class="row justify-content-center flex-wrap">
            {% for devPost in devPosts %}
                    <div class='newsCard news-Slide-up m-1'>
                            <img src="{{ devPost.projectImage }}"/>
                        <div class='newsCaption'>
                            <div class='newsCaption-title'>project</div>
                            <span class="projectTitle">{{ devPost.title }}</span>
                            <div class="dottedLine mb-1"></div>
                            <span class="techTxt">technologies</span>
                            <p class='newsCaption-content'>{{ devPost.technos | raw}} </p>
                            <div class="newsCaption-link">
                                <p>
                                    <a href='{{ devPost.lien }} ' target="_blank"><i class="fas fa-laptop-code"></i></a>
                                    <a href="{{ path('post_show', {'id': devPost.id}) }}"><i class="fas fa-eye"></i></a>
                                    <a href='{{ devPost.git }}' target="_blank"><i class="fab fa-github"></i></a>
                                </p>    
                            </div>
                        </div>
                    </div>
            {% endfor %} 
        </div>
    </div>
</div>
<div class="container">
    <div id="tab2" class="box designBox hide">
        <div class="row justify-content-center flex-wrap"> 
            {% for designPost in designPosts %}
                <div class='newsCard news-Slide-up m-1'>
                    <img src="{{ designPost.projectImage }}" />
                    <div class='newsCaption'>
                        <div class='newsCaption-title'>project</div>
                        <span class="projectTitle">{{ designPost.title }}</span>
                        <div class="dottedLine mb-1"></div>
                        <span class="techTxt">technologies</span>
                        <p class='newsCaption-content'>{{ designPost.technos }} </p>
                        <div class="newsCaption-link">
                            <p>
                                <a href='{{ designPost.lien }} ' target="_blank"><i class="fas fa-laptop-code"></i></a>
                                <a href="{{ path('post_show', {'id': designPost.id}) }}"><i class="fas fa-eye"></i></a>
                                <a href='{{ designPost.git }}' target="_blank"><i class="fab fa-github"></i></a>
                            </p>    
                        </div>
                    </div>
                </div>
            {% endfor %}        
        </div>
    </div>
    <div id="tab3" class="box printBox hide">
        <div class="row justify-content-center flex-wrap">
            {% for printPost in printPosts %}
                <div class='newsCard news-Slide-up m-1'>
                    <img src="{{ printPost.projectImage }}" />
                    <div class='newsCaption'>
                        <div class='newsCaption-title'>project</div>
                        <span class="projectTitle">{{ printPost.title }}</span>
                        <div class="dottedLine mb-1"></div>
                        <span class="techTxt">technologies</span>
                        <p class='newsCaption-content'>{{ printPost.technos }} </p>
                        <div class="newsCaption-link">
                            <p>
                                <a href='{{ printPost.lien }} ' target="_blank"><i class="fas fa-laptop-code"></i></a>
                                <a href="{{ path('post_show', {'id': printPost.id}) }}"><i class="fas fa-eye"></i></a>
                                <a href='{{ printPost.git }}' target="_blank"><i class="fab fa-github"></i></a>
                            </p>     
                        </div>
                    </div>
                </div>
            {% endfor %}        
        </div>
    </div>
</div>

<div class="container-fluid pb-5 pt-5 mt-5">
    <div class="row justify-content-center blocExp">
        <div class="col-md-3 color mt-5 mb-5">
            <img src="{{ asset('images/rosaceb_blanc.png') }}" alt="" style="width:22%">
            <h4><b>EXPERIENCES</b><br> PROFESSIONNELLES...</h4>
        </div>
        <div class="col-md-6 line_left mt-5 mb-5">
            <p><b>DEVELOPPEUR PHP | SYMFONY<br>
            <span class="redfont">DIGEAT</span></b><br>
            MARS 2020</p>
        
            <p>Dans le cadre d'un stage de 3 mois j'ai pu m'initier au fonctionnement du framework PHP Symfony 3 & 4.
            En l'espace d'un mois j'ai pu maitriser ce nouvel environnement de travail et par la suite pu
            developper mes premiers composant d'acces aux données sur l'application de l'entreprise Digeat et Sacre Fernand.<br>
            </p>

            <p>
                <ul>
                    <li>Javascript, Jquery, Ajax</li>
                    <li>Html, Css, Twig, Boostrap</li>
                    <li>Php, Sql, Uml, Doctrine, gitlab</li>
                </ul>
            </p>
            <div class="mt-5"></div>
            <p><b>DEVELOPPEUR VUE.JS<br>
            <span class="redfont">SIMPLON TOULOUSE</span></b><br>
            JANVIER 2020</p>

            <p>
            Dans me cadre d'un projet client, j'ai developpé une application pedagogique avec le framework Vue.js.
            Elle été composée d'un quiz dynamique permettant d'evaluer le niveau de l'utilisateur et le rediriger
            vers la page correspondante.
            </p>
            <p>
                <ul>
                    <li>Javascript</li>
                    <li>Vue.js</li>
                    <li>Html Css bootstrap</li>
                </ul>
            </p>
        </div>
    </div>
   
    <div class="row justify-content-center blocDip">
        <div class="col-md-3 color mt-5 mb-5">
            <img src="{{ asset('images/rosace.png') }}" alt="" style="width:22%">
            <h4 class="gradientPurpleFont titleh4"><b>PARCOURS &</b><br> CURSUS SCOLAIRE...</h4>
        </div>
        <div class="col-md-6 line_leftBlack mt-5 mb-5">
        <p><b>CONCEPTEUR DEVELOPPEUR D'APPLICATION Bac +4<br>
        <span class="gradientPurpleFont">OPEN CLASS ROOMS</span></b><br>
        2020</p>
       
        <p>OpenClassrooms est la 1e école en ligne à proposer ses parcours de 
        formation diplômants en alternance. La plateforme met tout 
        en oeuvre pour répondre aux demandes des étudiants et aux besoins spécifiques 
        des entreprises.</p>
        <div class="mt-2"></div>
        <p><b>DEVELOPPEUR WEB Bac +2<br>
        <span class="gradientPurpleFont">SIMPLON.CO</span></b><br>
        2020</p>
       
        <p>Le Réseau des Fabriques Simplon.co compte en France et à l’international plus de 
        100 Fabriques inclusives qui partagent des valeurs, une méthode et le même objectif : 
        l’insertion professionnelle de talents sur des métiers techniques du numérique.</p>
        <div class="mt-2"></div>
        <p><b>DESIGNER GRAPHIQUE<br>
        <span class="gradientPurpleFont">IDEM CREATIVE ARTS SCHOOL</span></b><br>
        2014</p>

        <p>l'Idem propose de se former aux métiers du graphisme, de la publicité, de l’édition et du multimédia. 
        Imaginer des concepts créatifs, réaliser des campagnes publicitaires, donner 
        vie à des visuels innovants et impactants, interfacer une application mobile ou un 
        site internet… |</p>
        </div>
    </div>
</div>

<div class="container-fluid pb-5">
    <div class="row">
        <div class="col-md-12 text-center color titleColor mt-3 ml-3">
            <img src="{{ asset('images/rosace-title.png') }}" alt="" class="mb-2">
            <h4 class="titlecolor"><b>SOME</b> SKILLS.</h4>
            <img src="{{ asset('images/trait.png') }}" alt="" style="width:14%" class="mb-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center mb-5">
            <ul class="navTabsTech list_js">
                <li class="active"><a href="#tab4">Front</a></li>
                <li><a href="#tab5">Env</a></li>
                <li><a href="#tab6">Back</a></li>
            </ul>
        </div>
    </div>

    <div id="tab4" class="boxTech active">
        <div class="row text-center mb-2">
            <div class="col-md-4"></div>
            <div class="col-md-4 flex-wrap iconSkills">
               <i class="fab fa-vuejs"><p>Vue.Js</p></i>
               <i class="fab fa-js-square"><p>Javascript</p></i>
               <i class="fab fa-html5"><p>Html 5</p></i>
               <i class="fab fa-css3-alt"><p>Css 3</p></i>
               <i class="fab fa-bootstrap"><p>Bootsrap</p></i>
               <i class="fab fa-symfony"><p>Symfony 5</p></i>
               <i class="fab fa-react"><p>React.js</p></i>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div id="tab5" class="boxTech hide iconSkills">
        <div class="row text-center mb-2">
            <div class="col-md-4"></div>
            <div class="col-md-4 flex-wrap">
                <i class="fab fa-github"><p>Git</p></i>
                <i class="fab fa-unity"><p>Unity C#</p></i>
                <i class="fab fa-trello"><p>Trello</p></i>
                <i class="fab fa-ubuntu"><p>Ubuntu</p></i>
                <i class="fab fa-linux"><p>Linux</p></i>
                <i class="fab fa-windows"><p>Windows</p></i>
                <i class="fab fa-codepen"><p>Codepen</p></i>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div id="tab6" class="boxTech hide iconSkills">
       <div class="row text-center mb-2">
            <div class="col-md-4"></div>
            <div class="col-md-4 flex-wrap">
                <i class="fab fa-symfony"><p>Symfony 5</p></i>
                <i class="fab fa-php"><p>Php</p></i>
                <i class="fab fa-node"><p>Node.js</p></i>
                <i class="fas fa-database"><p>Sql Doctrine</p></i>
                <i class="fas fa-project-diagram"><p>Uml</p></i>
                <i class="fas fa-tools"><p>Ovh</p></i>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

{% include 'contact.html.twig' %}
{% endblock %}