{% extends 'base.html.twig' %}

{% block title %}
    {{post.title}}
{% endblock %}

{% block body %}
{% include 'NavBarSimple.html.twig' %}


<div class="container-fluid mx-0 mb-5">
    <div class="row mt-5 mb-5 justify-content-center">
        <div class="col-sm-10 col-md-7 col-lg-4 col-xl-3 p-0 text-right">
            <img src="{{post.projectImage}}" class="img-fluid imgPost" style="width:100%;" alt="Responsive image">
        </div>
        <div class="col-sm-10 col-md-7 col-lg-7 col-xl-6 bg-white PostDescription">
            <div class="row justify-content-center">
                <div class="col-md-12 d-flex justify-content-between postTitle">
                    <div class="project-title ml-5">
                        <b class="project">PROJECT:</b> <br><b class="projtitle text-uppercase">{{ post.title }}</b>
                    </div>
                    <div class="img-icon-post d-flex align-items-center">
                        {# <i class="fab fa-github-square"></i> #}
                    </div>   
                </div>
                <div class="col-md-9 line_leftBlack mt-4 mb-4 text-justify">
                    {{ post.projectDescription | raw }}
                    {% if post.git is not null %}
                        <br><br><a class="font-weight-bold" href="{{post.git}}" target="_blank"><i class="fab fa-github-alt"></i> REPO GIT</a>
                        <a class="font-weight-bold" href="{{post.lien}}" target="_blank"><i class="fas fa-laptop-code"></i> DEMO LIVE</a>
                    {% endif %}
                </div>              
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center color titleColor mt-5 mb-2">
            <h4><i class="fas fa-images"></i> <b>MEDIA</b> PHOTOS.</h4>
        </div>
    </div>
</div>
<div class="container-fluidp-5">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-11 col-lg-9">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in post.images %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" 
                        {% if loop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in post.images %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img class="d-block w-100" src="{{ image.url }}" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <span class="captionCarouTitle">{{ post.title }}</span>
                                <span class="captionCarou">{{ image.caption }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% include 'Footer.html.twig' %}
{% endblock %}